<header id="header">
  <div id="site-greeting">
    <h1>Welcome to Book Collector!</h1>
  </div>
  <%= render :partial => "shared/navigation_bar" %>
  <%= render :partial => "shared/flash_notices" %>
</header>